.button-list {
  height: 300px;
  //overflow-y: scroll;
}

.button-product-list{
  height: 45px;
}

.img-list{
  height: 210px;
}

.title-list{
  font-size: 20px;
  font-weight: bold;
  color: #8c8c8c;
}

.header-list, .content-list{
  padding:5px;
}

.column{
  margin-bottom: -45px;
}

.button{
  margin-top: 40px;
}