<ion-grid>
  <ion-row *ngIf="this.list !== 'products' else products">
    <ion-col class="column" size="{{orientationState()}}" *ngFor="let element of data">
      <ion-card class="button-list" routerLink="./{{element['name']}}" [state]="element">
      <!-- <ion-card [ngClass]="{'button-list': this.list !== 'products', 'button-product-list': this.list == 'products'}"> -->
        <ion-card-header class="header-list">
          <ion-card-title class="title-list">{{element['name']}}</ion-card-title>
        </ion-card-header>
        <ion-img class="img-list" *ngIf="element['picture']" src="{{element['picture']}}"></ion-img>
        <ion-card-content class="content-list" *ngIf="element['description']">
          {{element['description'].substring(0, 50) + " ..."}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-template #products>
    <ion-row>
      <ion-item>
        <ion-label>Filtrer les produits</ion-label>
        <ion-select interface="alert" class="custom-options" multiple="true" [(ngModel)]="categories" (ionChange)="this.onChange(categories)">
          <ion-select-option *ngFor="let category of productCategories" value="{{category['id']}}">{{category['name']}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-col class="column" size="{{orientationState()}}" *ngFor="let element of data">
        <ion-card class="button-product-list" *ngIf="this.filterProducts(element['category'].toString())" routerLink="./{{element['name']}}" [state]="element">
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/icon/poisson.png">
            </ion-avatar>
            <ion-label class="title-list">
              {{element['name']}}
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-template>

  <ion-button class="button" size="default" color="medium" expand="block" routerLink="/contact" *ngIf="this.list !== 'contact'">Contact</ion-button>
</ion-grid>