<ion-grid>
  <ion-row *ngIf="this.list !== 'products' && this.list !== 'cart' else productsList">
    <ion-col class="column" size="{{orientationState()}}" *ngFor="let element of data">
      <ion-card class="button-list" routerLink="./{{element['name']}}" [state]="element">
      <!-- <ion-card [ngClass]="{'button-list': this.list !== 'products', 'button-product-list': this.list == 'products'}"> -->
        <ion-card-header class="header-list">
          <ion-card-title class="title-list">{{element['name']}}</ion-card-title>
        </ion-card-header>
        <ion-img class="img-list" *ngIf="element['picture']" src="{{element['picture']}}"></ion-img>
        <ion-card-content class="content-list" *ngIf="element['description']">
          {{element['description'].substring(0, 50) + " ..."}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-template #productsList>
    <ion-row *ngIf="this.list === 'products' else cartList">
      <ion-item>
        <ion-label>Filtrer les produits</ion-label>
        <ion-select interface="alert" class="custom-options" multiple="true" [(ngModel)]="categories" (ionChange)="this.onChange(categories)">
          <ion-select-option *ngFor="let category of productCategories" value="{{category['id']}}">{{category['name']}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-col class="column" size="{{orientationState()}}" *ngFor="let element of data">
          <ion-item class="button-product-list" *ngIf="this.filterProducts(element['category'].toString())">
            <ion-avatar slot="start">
              <img src="./assets/icon/poisson.png">
            </ion-avatar>
            <ion-label>
              <h1>
                {{element['name']}}
              </h1>
              <p>
                <ion-button class="addButton" ion-button icon-left small (click)="showPicker(element)">
                  <ion-icon name="add"></ion-icon>
                  Ajout
                </ion-button>
                <ion-button class="detailsButton" ion-button icon-left small routerLink="./{{element['name']}}" [state]="element">
                  <ion-icon name="open"></ion-icon>
                  Détails
                </ion-button>
              </p>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ng-template>

  <ng-template #cartList>
    <ion-row>
      <ion-col class="column" size="{{orientationState()}}" *ngFor="let element of cart">
          <ion-item class="button-product-list">
            <ion-avatar slot="start">
              <img src="./assets/icon/poisson.png">
            </ion-avatar>
            <ion-label>
              <h1>
                {{element['name']}} 
              </h1>
              <p>
                Quantité : {{element['quantity']}}
              </p>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ng-template>

  <ion-button class="button" size="default" expand="block" routerLink="/contact" *ngIf="this.list !== 'contact'">Contact</ion-button>
</ion-grid>