.button-list {
  height: 300px;
  margin-top: 40px;
  //overflow-y: scroll;
}

.product-list {
  text-align: left;
}

.cart-list {
  margin-top: 20px;
  margin-bottom: 20px;
  // width: 95%;
}

.picker {
  width: 95%;
}

.img- {
  height: 210px;
}

.title-list {
  font-size: 20px;
  font-weight: bold;
  color: #8c8c8c;
}

.header-list, .content-list {
  padding:5px;
}

.column {
  margin-bottom: -45px;
}

.button{
  margin-top: 40px;
}

.addButton {
  background-color: #488aff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  width: 80px;
  height: 25px;
}
.detailsButton {
  background-color: #488aaa;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0px;
}

.deleteButton {
  float: right;
  color: grey;
}

.btnIcon{
  color: #488aff;
  font-size: 25px;
  padding-bottom: -10px;
}

.elmtDetails{

  font-size: 18px;
  display: flex;
  align-items: center; 
  color: #8c8c8c
}

.elmtQuantity{
  display: flex;
  align-items: center;
}