<div id="container">
  <ng-container *ngFor="let detail of detailspage"> 
      <div *ngIf="detail.url==router.url">
        <strong class="capitalize">{{ detail.title }}</strong>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size={{orientationState()}}>
                <img src="{{detail.picture}}">
              </ion-col>
              <ion-col size={{orientationState()}} class="ion-align-self-center">
                {{addBr(detail.details)}}
                <app-list-infos></app-list-infos>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div> 
    </ng-container>
</div>