<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <p><strong class="capitalize">{{ folder }}</strong></p>
    <ng-container *ngIf="router.url=='/folder/Bateaux'; else elseTemplate">
      <ion-button color="primary" href="/details/{{ folder }}1">De la Brise</ion-button>
      <ion-button color="primary" href="/details/{{ folder }}2">Saphir</ion-button>  
      <ion-button color="primary" href="/details/{{ folder }}3">Gast Micher</ion-button>
      <ion-button color="primary" href="/details/{{ folder }}4">Aquilon</ion-button>      
    </ng-container>
    <ng-template #elseTemplate>
      <ion-button color="primary" href="/details/{{ folder }}">Détails</ion-button>
    </ng-template>
  </div>
</ion-content>
