<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ this.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-list-home
      *ngIf="this.list === 'home' else buttonsBlock" 
      [data]="this.data"
      [slogan]="this.slogan"
      class="infos">
    </app-list-home>
    <ng-template #buttonsBlock>
      <app-list-buttons
        [data]="this.data"
        [products]="this.products"
        [list]="this.list">
      </app-list-buttons>
    </ng-template>
  </div>
</ion-content>
