<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ this.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-list-home
      *ngIf="this.list === 'home'" 
      [data]="this.data"
      [slogan]="this.slogan"
      class="infos">
    </app-list-home>
    <app-list-buttons
      *ngIf="this.list !== 'home'"
      [data]="this.data"
      [list]="this.list">
    </app-list-buttons>
  </div>
</ion-content>
